@model IEnumerable<MusicShop.Models.Instrument>

@{
    ViewData["Title"] = "Instrumenty";
}

<h1>Instrumenty</h1>

<p>
    <a asp-action="Create">Dodaj nowy przedmiot do sprzedaży</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                Cena
            </th>
            <th>
                Kolor
            </th>
            <th>
                Producent
            </th>
            <th>
                Typ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
